@font-face {
    font-family: ProjectFont;
    src: url('../font/DBHeaventCondv321.ttf') ;

}

body {
    font-family: ProjectFont !important;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.pls {
    text-align: center;
    font-size: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.input-group i {
    position: absolute; 
    left: 10px; 
    top: 50%;
    color: #aaa;
    font-size: 20px; 
}

.input-group input {
    width: 87%; /* ให้ช่องกรอกเต็มความกว้างของคอนเทนเนอร์ */
    padding: 10px 10px 10px 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    font-family: inherit;
}

.input-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1%;
}

.input-row .input-group {
    width: 50%;
    margin-right: 0.5%;
}

.input-row .input-group input{
    padding-left: 10px;
}

.otp-btn {
    width: 100%; /* ให้ปุ่มมีขนาดเต็ม */
    padding: 10px;
    border: 1px solid #ffcc00;
    background-color: #ffcc00;
    font-size: 20px;
    font-family: inherit;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.otp-btn i {
    margin-right: 10px;
}

.otp-btn:hover {
    background-color: #e6b800; 
    color: white;
}

.otp-btn:active {
    background-color: #cc9900; 
    color: white;
}

.otp-btn[disabled] {
    background-color: #e0e0e0; 
    color: #aaa;
    cursor: not-allowed;
    border: none;
}

.submit-btn {
    font-family: ProjectFont !important;
    width: 97.5%;
    padding: 12px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #e6b800;
}

@media screen and (max-width: 1279px) {
    .container {
        max-width: 50%;
        padding: 30px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 80%;
    }
}
