@font-face {
    font-family: ProjectFont;
    src: url(/font/DBHeaventCondv321.woff) format('woff2');
}

body{
    margin: 0;
    font-family: ProjectFont !important;
    justify-content: center;
    align-items: center;
}

nav{
    background-color: #45474b;
    color: white;
    display: flex;
    align-items: center;
}

nav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 4em;
}

nav a:hover{
    background-color: #404041;
}

.dropdown{
    position: relative;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #45474b;
    z-index: 1;
    top: 100%;
}

.dropdown-content a {
    width: 100%;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.5em; /* ปรับขนาดตัวหนังสือเล็กลง */
}

.dropdown:hover .dropdown-content {display: block;}


.right_icon{
    margin-left: auto;
}

.right_icon img{
    margin-left: 20px;
    align-items: center;
}

section h1{
    text-align: center;
    font-size: 4em;
}

.subjects-wrapper{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    justify-items: center;
}

.subjects-wrapper .subject button{
    width: 150px;
    height: 60px;
    font-size: 2em;
    text-align: center;
    background-color: #F4CE14;
    border-radius: 10px;
    border: none;
    transition: 0.2s;
}
.subjects-wrapper .subject button:hover{
    background-color: #c5a400;
    transition: 0.2s;
}


.subjects-wrapper .subject button a{
    text-decoration: none;
    color: black;
}

.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.logoweb{
    width: 100%;
    height: auto;
}

.promotions{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
}
.onemonth{
    float: left;
}

.threemonth{
    margin-left: auto;
    margin-right: auto;
}

.sixmonth{
    float: right;
}

.buybutton button{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    text-align: center;
    background-color: #F4CE14;
    border-radius: 10px;
    border: none;
    transition: 0.2s;
}

.buybutton button:hover{
    background-color: #c5a400;
    transition: 0.2s;
}
.buybutton button a{
    text-decoration: none;
    color: black;
}