@font-face {
    font-family: ProjectFont;
    src: url(/font/DBHeaventCondv321.woff) format('woff2');
}

body{                                   /* setup */
    margin: 0;
    font-family: ProjectFont !important;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255) !important;
}

img{
    width: 100%;
    height: auto;
}

.icon{      /* navbar naja*/
    display: none;
}

nav{        /* navbar naja*/
    width: 100%;
    height: auto;
    background-color: #45474b;
    color: white;
    display: flex;
    align-items: center;
}

nav .link {         /* navbar naja*/
    display: flex;
    align-items: center;
}

nav a{              /* navbar naja*/
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 2em;
}

nav a:hover{        /* navbar naja*/
    background-color: #404041;
}

.dropdown{          /* navbar naja*/
    position: relative;
}
.dropdown-content{      /* navbar naja*/
    display: none;
    position: absolute;
    background-color: #45474b;
    z-index: 1;
    top: 100%;
}

.dropdown-content a {       /* navbar naja*/
    width: 100%;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.2em; 
}

.dropdown:hover .dropdown-content {     /* navbar naja*/
    display: block;
}

.right_icon{                    /* navbar naja*/
    margin-left: auto;
}

.right_icon img{                /* navbar naja*/
    align-items: center;
    width: 30px;
    height: 30px;
}

.logoweb{               /* navbar naja*/
    width: 100%;
    height: auto;
}

.active{
    color: #F4CE14;
}

.breadcrumb{
    margin-left: 16%;
}

.breadcrumb a{
    font-size: 1.5em;
    color: black;
}

.back-button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: fit-content;
}

a {
    text-decoration: none;
}

.back-button:hover {
    background-color: black;
    color: white;
}

.back-button .arrow {
    margin-right: 10px;
}

h2 {
    margin-left: 10%;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.course-container{
    width: 100%;
    max-width: 1034px;
    margin: 40px auto;
}

.course-info {
    text-align: center;
    margin-bottom: 20px;
}

.course-stat {
    width: 80%;
    display: flex;
    justify-content: center; 
    gap: 120px;
    margin: 10px auto;
    border: thin solid black;
    border-radius: 10px;
    padding: 1%;
}

.stat-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.stat-item img{
    width: 30%;
    height: auto;
}

tbody img{
    width: 9%;
    margin-right: 5%;
}

.rating-button {
    margin-right: 10%;
    background-color: #ffffff;
    padding: 10px 20px;
    border: thin solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    float: right;
}

.rating-button:hover {
    background-color: #d1d1d1;
}

.course-details {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course-table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin: 10px auto;
}

.course-table th, .course-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.course-table input[type="checkbox"] {
    transform: scale(1.5);
    cursor: pointer;
}

.study:hover{
    box-shadow: 0 0 12px 0 rgb(171, 171, 171); 
}

.review{
    color: #000;
    margin-right: 25px;
    background-color: #ffffff;
    padding: 10px 20px;
    border: thin solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    float: right;
}

.review i{
    color: #F4CE14;
}

.review:hover{
    background-color: #d1d1d1;
}
footer{                 /* FOOTER KUB */
    display: flex;
    background-color: #45474b;
    justify-content: space-around;
    color: white;
    padding: 20px;
}

.imagefooter{               /* FOOTER KUB */
    display: flex;
    margin-left: auto;
    width: 20%;
    height: auto;
}

.phoneimage, .emailimage {      /* FOOTER KUB */
    display: flex;
    width: 100%;
    gap: 20px;
}

.phone, .email {            /* FOOTER KUB */
    display: flex;
    align-items: center;
}
.text1 img{             /* FOOTER KUB */
    width: 5%;
}
.phone{                 /* FOOTER KUB */
    display: flex;
    align-items: center;
}

.email{                 /* FOOTER KUB */
    display: flex;
    align-items: center;
}
.iconfooter{            /* FOOTER KUB */
    text-align: right;
}
.iconfooter a{          /* FOOTER KUB */
    color: white;
}
.iconfooter a i{        /* FOOTER KUB */
    font-size: x-large;
    margin-right: 10px;
}
.iconfooter a i:hover{      /* FOOTER KUB */
    color: #F4CE14;
}

@media screen and (max-width: 1279px) {
    nav a{              /* navbar naja*/
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 0px 20px;
        text-decoration: none;
        font-size: 1.4em;
    }

    nav img{            /* navbar naja*/
        width: 50%;
        height: auto;
    }

    .dropdown-content a {   /* navbar naja*/
        width: 100%;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 1.2em; 
    }

    .breadcrumb{
        margin-left: 5%;
    }

    .course-container {
        width: 90%;
    }
    .course-details {
        display: block; 
    }

    h2{
        margin-left: 5%;
    }

    .rating-button {
        margin: 10px 10% 10px 0px;
        display: block; 
    }

    .review{
        margin: 10px 25px;
    }

    .course-table th, .course-table td {
        padding: 5px; 
        text-align: left;
    }

    h1 {
        font-size: 22px; 
        text-align: center;
    }

    .stat-item img{
        width: 25%;
        height: auto;
    }

    img{
        width: 10%;
    }

    .stat-item {
        font-size: small;
    }
}

@media screen and (max-width: 768px) {
    nav .WebLogo{       /* navbar naja*/
        margin-left: auto;
        margin-right: auto;
    }

    .UserLogo{          /* navbar naja*/
        display: none;
    }

    nav #mylink {       /* navbar naja*/
        display: none;
        flex-direction: column;
        background-color: #3d3d3d;
        position: absolute;
        top: 40px;
        left: -250px; 
        width: fit-content; 
        height: 100%; 
        z-index: 999;
    }

    nav #mylink a{      /* navbar naja*/
        border-bottom: 1px rgb(133, 133, 133) solid;
    }

    nav #mylink.show {      /* navbar naja*/
        display: flex;
        left: 0;
    }
    
    .icon {                 /* navbar naja*/
        display: block;
    }

    .right_icon{            /* navbar naja*/
        margin: 0;
    }

    .CartLogo{              /* navbar naja*/
        margin-right: 5px;
    }

    .dropdown-content a {       /* navbar naja*/
        width: 100%;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 0.8em; 
    }
    
    .course-stat {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .stat-item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .rating-button {
        margin-right: 0;
    }

    .course-details {
        padding: 15px;
        border-radius: 10px;
    }

    .course-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .course-table th, .course-table td {
        padding: 10px;
        text-align: left;
    }

    .back-button {
        margin-left: 10px; 
    }

    h1 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
    }

    h2{
        margin-left: 1%;
    }

    .course-stat {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .phoneimage, .emailimage {  /* FOOTER KUB */
        display: flex;
        width: 100%;
        gap: 10px;
        align-items: center;
    }

    .phoneimage img , .emailimage img{  /* FOOTER KUB */
        width: 5%;
        height: auto;
    }

    .text1 h2{  /* FOOTER KUB */
        font-size: 1em;
    }
    .phoneimage h2{ /* FOOTER KUB */
        font-size: 1em;
    }
    .emailimage h2{ /* FOOTER KUB */
        font-size: 1em;
    }

    .contactfooter h2{  /* FOOTER KUB */
        margin-top: auto;
        font-size: 0.8em;
    }
    .iconfooter a i{    /* FOOTER KUB */
        font-size: small;
    }
}