@font-face {
    font-family: ProjectFont;
    src: url(/font/DBHeaventCondv321.woff) format('woff2');
}

body{                                   /* setup */
    margin: 0;
    font-family: ProjectFont !important;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255) !important;
}

img{
    width: 100%;
    height: auto;
}

.icon{      /* navbar naja*/
    display: none;
}

nav{        /* navbar naja*/
    width: 100%;
    height: auto;
    background-color: #45474b;
    color: white;
    display: flex;
    align-items: center;
}

nav .link {         /* navbar naja*/
    display: flex;
    align-items: center;
}

nav a{              /* navbar naja*/
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 2em;
}

nav a:hover{        /* navbar naja*/
    background-color: #404041;
}

.dropdown{          /* navbar naja*/
    position: relative;
}
.dropdown-content{      /* navbar naja*/
    display: none;
    position: absolute;
    background-color: #45474b;
    z-index: 1;
    top: 100%;
}

.dropdown-content a {       /* navbar naja*/
    width: 100%;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.2em; 
}

.dropdown:hover .dropdown-content {     /* navbar naja*/
    display: block;
}

.active{
    color: #F4CE14;
}

.dropbtn{
    color: #F4CE14;
}

.right_icon{                    /* navbar naja*/
    margin-left: auto;
}

.right_icon img{                /* navbar naja*/
    align-items: center;
    width: 30px;
    height: 30px;
}

.logoweb{               /* navbar naja*/
    width: 100%;
    height: auto;
}
.back-button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1em;

}

.back-button:hover{
    background-color: black;
    color: white;

}

.back-button .arrow {
    margin-right: 10px;
}
.back-button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1em;

}

.back-button:hover{
    background-color: black;
    color: white;

}

.back-button .arrow {
    margin-right: 10px;
}

.breadcrumb{
    
    margin-left: 15%;
}

.breadcrumb a{
    font-size: 1.5em;
    color: black;
}
.block11{
    background-color: white;
    width: 70%;
    height: auto;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: #404041 0px 0px 8px ;
    border-radius: 10px;
}

.photobook{
    margin-top: 10px;
    width: 40%;
}

.photobook img{
    border-radius: 10px;
}


.btn{
    margin-top: 5px;
    display: flex;
    width: fit-content;
}

.btn .try{
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
    border: 1px solid #F4CE14;
    width: 100%;
    color: #F4CE14;
    text-decoration: none;
    
}

.btn .add{
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
    background-color: #F4CE14;
    width: 100%;
    color: #000000;
    text-decoration: none;
}

.add:hover{
    background-color: #c5a400;
    transition: 0.2s;
}

.try:hover{
    background-color: #e7e7e7;
    transition: 0.2s;
    border-color: black;
    color: #000000;
}
.result {
    display: flex; 
}

.detail {
    margin-left: 15px;
    height: 100%;
}
.detail .btn{
    margin-top: 30%;
    padding: 0;

}

.detail h2{
    font-size: 3em;
}


@media screen and (max-width: 1279px) {
    nav a{              /* navbar naja*/
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 0px 20px;
        text-decoration: none;
        font-size: 1.4em;
    }
    nav img{            /* navbar naja*/
        width: 50%;
        height: auto;
    }
    .dropdown-content a {   /* navbar naja*/
        width: 100%;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 1.2em; 
    }
    .btn .try{
        font-size: 1em;
        
    }
    
    .btn .add{
        font-size: 1em;
    }
    .detail h2{
    font-size: 1.5em;
    }
    .detail .btn{
        margin-top: 10%;
        padding: 0;
    }

    .des h2{
        font-size: 1em;
    }
}

@media screen and (max-width: 768px) {
    nav .WebLogo{       /* navbar naja*/
        margin-left: auto;
        margin-right: auto;
    }

    .UserLogo{          /* navbar naja*/
        display: none;
    }

    nav #mylink {       /* navbar naja*/
        display: none;
        flex-direction: column;
        background-color: #3d3d3d;
        position: absolute;
        top: 40px;
        left: -250px; 
        width: fit-content; 
        height: 100%; 
        z-index: 999;
    }

    nav #mylink a{      /* navbar naja*/
        border-bottom: 1px rgb(133, 133, 133) solid;
    }

    nav #mylink.show {      /* navbar naja*/
        display: flex;
        left: 0;
    }
    
    .icon {                 /* navbar naja*/
        display: block;
    }

    .right_icon{            /* navbar naja*/
        margin: 0;
    }

    .CartLogo{              /* navbar naja*/
        margin-right: 5px;
    }

    .dropdown-content a {       /* navbar naja*/
        width: 100%;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 0.8em; 
    }
    .dropdown-content {
        display: none ;
        position: absolute;
        background-color: #45474b;
        z-index: 1;
        top: 100%;
    }
    
    .dropdown-content.show {
        display: block;
    }
    .breadcrumb a{
        font-size: 1em;
    }
    .result {
        display: block;
        text-align: left;
    }
    .btn .try{
        font-size: 1em;
        padding: 10px;
    }

    .detail{
        margin-left: 0;
    }
    
    .detail .btn {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        gap: 20px;
    }
    .btn .add{
        font-size: 1em;
        padding: 10px;
    }
    .photobook {
        width: 100%; 
        margin: 0 auto; 
    }

    .des{
        margin-top: 15px;
    }
    .des h2{
        font-size: 1em;
    }
}