body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.timer {
    border: thin solid black;
    border-radius: 5px;
    padding: 1%;
}

.container {
    display: flex; 
    flex-direction: column; 
    max-width: 1034px;
    margin: 0 auto;
    padding: 83px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.exam-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.question p {
    font-size: 2rem; 
}

.question label {
    font-size: 1rem; 
}

.question-nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-gap: 10px; 
    width: 250px;
    float: right;
}

.question-nav button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;
}

.submit-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-end;
}

@media screen and (max-width: 1279px) {
    .container{
        width: 80%;
    }

    .question-nav {
        justify-items: center;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .exam-header {
        display: flex;
        justify-content: space-between; 
        align-items: center; 
        flex-direction: row; 
        width: 100%;
    }

    .exam-header h1 {
        font-size: 1rem;
        text-align: center;
    }

    .question{
        margin-left: 15px;
        clear: both;
    }

    .question p{
        font-size: 1.5rem;
    }


    .question-nav {
        display: grid;
        grid-template-columns: repeat(5, 1fr); 
        justify-content: center; 
        margin-left: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .question-nav button {
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        width: 30px;
        height: 30px; 
        padding: 0; 
        text-align: center;
    }

    
    .submit-btn {
        font-size: 1rem;
        margin: 0;
        width: 125px;
        padding: 10px;
    }
}
